<div class="cover-likes">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="font-weight-normal mt-3">いいねした投稿一覧</h1>
        </div>
        <div class="row justify-content-center">
          <% @like_posts.each do |post|%>
          <div class="one-post">
          <%= link_to post_path(post) do %>
          <p class="caption"><%= post.customer.name %></p>
          <% if post.image.attached? %>
          <%= image_tag post.image, size: "300x250" %>
          <% else %>
          <%= image_tag 'no_image', size: "300x250" %>
          <% end %>
          <p class="caption"><%= post.post_title %></p>
        <% end %>
          </div>
        <% end %>
        </div>
    </div>
</div>

