<div class="cover-customer-show">
  <div class="container">
    <%= render 'public/soccer_groups/search' %>
    <div class="row justify-content-center">
      <% if customer_signed_in? && @customer == current_customer %>
      <h1 class="font-weight-normal mt-5 mb-5">マイページ</h1>
      <% else %>
      <h1 class="font-weight-normal mt-5 mb-5"><%= @customer.name %>さんのページ</h1>
      <% end %>
    </div>

    <table class="table table-bordered">
      <h1 class="mb-3">登録情報</h1>
      <tr>
        <th class="text-center">郵便番号</th>
         <th><%= @customer.post_code %></th>
      </tr>

      <tr>
        <th class="text-center">住所</th>
        <th><%= @customer.address %></th>
      </tr>

      <tr>
        <th class="text-center">電話番号</th>
        <th><%= @customer.phone_number %></th>
      </tr>

      <tr>
        <th class="text-center">メールアドレス</th>
        <th><%= @customer.email %></th>
      </tr>
      
      <tr>
        <th class="text-center"><%= link_to "編集する", edit_customer_path(current_customer), class: "btn btn-success" %></th>
      </tr>
    </table>
    <% if @customer.email != "guest@example.com" %>
    <div class="btn-wrapper col-5 mx-auto">
      <div class="row">
        <%= link_to "",edit_customer_path(@customer),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_customer_#{@customer.id}" %>
      </div>
    </div>
    <% end %>

    <div class="font-weight-bold my-1"><%= link_to "いいねした一覧を見る", likes_customer_path(@customer), class: "btn btn-danger" %></div>
    <div class="font-weight-bold my-3">投稿一覧　<%= link_to "一覧を見る", posts_path, class: "btn btn-primary" %></div>

  </div>
</div>
</div>