<%= render 'search' %>
<% if customer_signed_in? %>
 <%= button_to "投稿", {controller: 'posts', action: 'new'}, {method: :get} %>
<% end %>

<% @posts.each do |post| %>

  <span>投稿者：</span><%= post.customer.name %>
  <span>タイトル：<%= link_to post.post_title, "posts/#{post.id}" %><br>
  <span>本文:</span><%= post.body %>
  <p>画像</p>


  <% if post.image.attached? %>
    <%= image_tag post.image, size: "150x120" %>
    <% else %>
    <%= image_tag 'no_image', size: "150x120" %>
 <% end %>
  <%= post.body %>
<% end %>
<%= paginate @posts %>