<div class="cover-show">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">投稿詳細</h1>
    </div>
    <div class="d-flex">
      <div class="row justify-content-center d-block">
        <p class="caption"><%= @post.customer.name %></p>

        <% if @post.image.attached? %>
        <%= image_tag @post.image, size: "400x300" %>
        <% else %>
          <%= image_tag 'no_image', size: "400x300" %>
        <% end %>
        <p class="caption"><%= @post.post_title %></p>
        <h2>本文</h2>
        <p id="body"><%= @post.body %></p>
        <div id="post_<%= @post.id %>"><%= render "public/likes/like", post: @post %></div><br>
        <%= link_to '編集する', edit_post_path(@post.id), class: "btn btn-info mr-3" %>
      </div>

    <div class="comments ml-5 mt-5">
      <%= form_with model: [@post, @comment] do |f| %>
      <%= f.text_area :comment, rows: '3', placeholder: "コメントをここに" %>
      <%= f.submit "送信する", class: "btn btn-success mb-4" %>
      <% end %>

      <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
        <div class="comments-index mb-2">
          <%= comment.customer.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><br>
          <div class="d-flex">
            <%= comment.comment %>
            <% if comment.customer == current_customer %>
            <div class="comment-delete">
              <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: "btn-sm btn-danger" %>
            </div>
          </div>
        </div>
          <% end %>
          <% end %>
      <%= paginate @comments %>
    </div>
  </div>
</div>
</div>