<div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">グループ登録</h1>
    </div>
    <br>
    <br>

    <div class="row justify-content-center">
      <%= form_for(@soccergroup, :url => { controller:'soccer_groups', action:'create'}) do |f| %>
      <%= f.label :サッカーグループ名 %>
      <%= f.text_field :name, :size => 40, class: "imput" %>
      <%= f.submit "グループ登録" %>
    <% end %>
    </div>
    <div class="text-right">
    <%= link_to "グループ一覧に戻る", soccer_groups_path, class: "btn btn-outline-success"%>
    </div>
</div>
