<div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-3">グループ登録</h1>
    </div>
    <div class="row justify-content-center">
      <%= form_for(@soccergroup, :url => { controller:'soccer_groups', action:'create'}) do |f| %>
      <%= f.label :サッカーグループ名 %>
      <%= f.text_field :name, :size => 80, class: "imput" %>
      <%= f.submit %>
      <% end %>
    </div>
    <%= link_to "サッカーグループ一覧に戻る", admin_soccer_groups_path %>
</div>
